body {
    font-family: sans-serif;
    background-color: #1C5B64;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: white;
    padding: 10px;
    width: 400px;
    margin: 40px;
}

.article-but {
    text-decoration: none;
    background-color: #A1652D;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but1 {
    text-decoration: none;
    background-color: #33AA00;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but2 {
    text-decoration: none;
    background-color: #AC1313;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but3 {
    text-decoration: none;
    background-color: #AC13A6;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    display: flex;
    background-color: #36BBCE;
    padding: 20px;
}

footer a {
    margin-right: 20px;
}

footer p {
    font-size: 24px;
}
